.card {
  border: 8px;
  border-color: linear-gradient(to right, red, yellow);
}

::-webkit-scrollbar {
  width: 25px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);

  background-image: linear-gradient(30deg, #8599bd 0%, #00080c 100%);
}
